<html ng-app='myApp'>
<head >
	<title>Mad Lips Unit 1</title>
	
	
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
	<img  class="face" src="images/mad-lib-happy-face.png">
	<div class="logotext">
		<img src="images/ng-mad-libs-logo.png">
		<h1 id="text">Automate This!</h1>
	</div>

<div ng-controller="MyController">

<div ng-hide="isShow">
<form id="words"  ng-submit="submit()" name="myForm"  ng- novalidate>
		<h2>Provide the following Words:</h2>

	<div ng-show="errorMessage">
		{{errorMessage}}
	</div>

	<h4>Pick a Gender:</h4>
	<label>Female
		<input type="radio" ng-model="gender" value="Female Name" checked>
	</label> 
	<label>Male
		<input type="radio" ng-model="gender" value="Male Name">
	</label>

		<table >
			<tr>
				<td><input ng-model="name" placeholder="{{gender}}" required></td>
				<td><input ng-model="cont.jobTitle" placeholder="job title" required></td>
				<td><input ng-model= "tediousTask" placeholder="tedious task" required></td>
				
			</tr>

			<tr>
				<td><input ng-model= "dirtyTask" placeholder="dirty task" required></td>
				<td><input ng-model="celebrity" placeholder="celebrity" required></td>
				<td><input ng-model ="uselessSkills" placeholder="useless skills" required></td>
				
			</tr>
			<tr>
				<td><input ng-model="adjective" placeholder="adjective" required></td>
				<td><input ng-model="obnCelebrity" placeholder="obnoxiuous celebrity" required></td>
				<td><input ng-model= "hugeNum" placeholder="huge number" minlength="10" integer></td>
				
			</tr>
		</table>
		<input id="submit" type="submit" value="Generate My Mad Lib" ></input>
</form>
</div> <!-- end of div ng-hide -->

<div ng-show="isShow">
<p >
{{name}} was a {{jobTitle}} who loved technology. Although she loved parts of her job, she absolutely hated {{tediousTask}} and {{dirtyTask}}. So, {{name}} met with her life mentor {{celebrity}} who told her to learn how to {{uselessSkills}} with Thinkful. Thinkful didn't offer a course on {{uselessSkills}} so she studied programming instead. 
 
What a great decision! With her new skills, {{name}} built a(n) {{adjective}} robot named {{obnCelebrity}} that not only loved {{dirtyTask}} but did it {{hugeNum}} faster.</p>
</div>	<!--end of div paragraph-->
</div> 

<script type="text/javascript" src="script.js"></script>
</body>
</html>

